<h1 class="text-center pb-4">Tienda en línea</h1>

<div>
    <h3>Lista de productos</h3>
    <hr>
    <ul id="ulProds" class="list-group">
        {{#each products}}
        <li class="list-group-item">
            <b>{{this._id}}</b> - 
            {{this.title}} - 
            ${{this.price}} - 
            <a class ="btn btn-danger py-0 px-2" href="/delete/{{this._id}}">Borrar</a>
        </li>
        {{/each}}
    </ul>
</div>