<h3 class="text-center pb-2">PRODUCTOS</h3>
<hr>
<div class="row justify-content-center pb-3">
    <div class="col-md-6">
        <h3>Agregar producto</h3>
        <form class="my-4" id="form1" method="POST">
            <input class="form-control mb-3" type="text" id="title" name="title" placeholder="Nombre del producto" required>
            <textarea class="form-control mb-3" cols="20" rows="5" id="description" name="description" placeholder="Descripción" required></textarea>
            <input class="form-control mb-3" type="text" id="code" name="code" placeholder="Código" required>
            <input class="form-control mb-3" type="number" id="price" name="price" placeholder="Precio" required>
            <input class="form-control mb-3" type="number" id="stock" name="stock" placeholder="Stock" required>
            <select class="form-control mb-3" name="category" id="category" required>
                <option value="Carteras">Carteras</option>
                <option value="Monederos">Monederos</option>
                <option value="Tarjeteros">Tarjeteros</option>
            </select>
            <select class="form-control mb-3" name="status" id="status" required>
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
            <input class="form-control mb-3" type="hidden" id="thumbnails" name="thumbnails" value="/prueba1Form">
            <button class="btn btn-dark btn-lg" type="submit">Enviar</button>
        </form>
    </div>{{!-- .col-md-8 --}}
</div>{{!-- .row --}}

<div>
    <h3>Lista de productos</h3>
    <hr>
    <ul id="ulProds" class="list-group">
        {{#each products}}
        <li class="list-group-item">
            <b>{{this._id}}</b> - 
            {{this.title}} - 
            ${{this.price}} - 
            <a class ="btn btn-danger py-0 px-2" href="/delete/{{this._id}}">Borrar</a>
        </li>
        {{/each}}
    </ul>
</div>

{{!-- Importaciones --}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/index.js"></script>